"*":
  "exception-reporting":
    userId: "4771a6a3-3fb1-f1e6-e659-92ca8e2b00dc"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    tabLength: 4
    showInvisibles: true
    showIndentGuide: true
    fontFamily: "Droid Sans Mono, Droid Sans Fallback"
    softWrap: true
  minimap: {}
  "tree-view":
    hideVcsIgnoredFiles: true
