"*":
  "activate-power-mode":
    autoToggle: false
    particles:
      spawnCount: {}
    screenShake: {}
  core: {}
  editor:
    fontSize: 11
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "4771a6a3-3fb1-f1e6-e659-92ca8e2b00dc"
  minimap: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
